Babel
certifi
charset-normalizer
click
colorama
ghp-import
idna
Jinja2
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-material
mkdocs-material-extensions
packaging
paginate
pathspec
platformdirs
Pygments
pymdown-extensions
python-dateutil
PyYAML
pyyaml_env_tag
regex
requests
six
urllib3
watchdog
mkdocs-awesome-pages-plugin
pillow
cairosvg